{% extends "base.html" %} {% block title %}Contact NutriNova | Support & Help{%
endblock %} {% block meta_description %} Contact NutriNova for support,
questions, or feedback about our nutrition tracking and calorie tracking tools.
Our team is here to help you improve your nutrition journey. {% endblock %} {%
block meta_keywords %} contact nutrinova, nutrinova support, nutrition tracker
support, calorie tracker help, nutrinova contact email {% endblock %} {% block
content %}

<section class="hero">
  <div class="hero-text">
    <h1>Contact NutriNova</h1>
    <p>
      We’d love to hear from you! Reach us at <b>supportnutri@gmail.com</b>.
    </p>
  </div>
</section>
{% endblock %}
